<p *ngIf="error" class="alert alert-danger">{{error}}</p>

<p>user {{name}} works!</p>
<p>age: {{age}}</p>
<p>e-mail: {{email}}</p>
<p>address: {{address.street}} {{address.city}}, {{address.state}}</p>

<h3>hobbies:</h3>
<form (submit)="addHobby($event, hobby.value)">
  <div>
    <input type="text" #hobby placeholder="hobby" required autocomplete="off">
    <button>add hobby</button>
  </div>
</form>
<ul>
  <li *ngFor="let hobby of hobbies; let i = index ">{{i+1}} {{hobby}}
    <button (click)="removeHobby($event,i)">X</button>
  </li>
</ul>

<h3>posts:</h3>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
  <hr>
</div>