$red:rgb(240, 56, 56);

mat-form-field{
  display: block;
}

div{
  margin: 20px 0;
}
.showError{
  animation: 0.5s showAlert;
  opacity: 1;
}

mat-icon{
  color:$red;
}

mat-error{  
  background-color: $red;
  opacity: 0;
  color: white;
  animation: 0.5s hideAlert;
}

@keyframes showAlert {
  from {
      opacity:0;
      transform: translateY(-20px);
  }
  to {
      opacity:1;
      transform: translateY(0);
  }
}

@keyframes hideAlert {
  from {
      opacity:1;
      transform: translateY();
  }
  to {
      opacity:0;
      transform: translateY(-20px);
  }
}