<p *ngIf="error" class="alert alert-danger">{{error}}</p>

<p>user {{name}} works!</p>
<p>age: {{age}}</p>
<p>e-mail: {{email}}</p>
<p>address: {{address.street}} {{address.city}}, {{address.state}}</p>

<h3>hobbies:</h3>
<form [formGroup]="form" (submit)="addHobby($event, hobby.value)" novalidate autocomplete="off">
  <input type="text" placeholder="hobby" formControlName="hobby">
  <button [disabled]="!form.valid">add hobby</button>
  <div *ngIf="hobby.invalid && (hobby.dirty || hobby.touched)" class="alert alert-danger">
    <div *ngIf="hobby.errors.required">
      value is required.
    </div>
  </div>
</form>
<ul>
  <li *ngFor="let hobby of hobbies; let i = index ">{{i+1}} {{hobby}}
    <button (click)="removeHobby($event,i)">X</button>
  </li>
</ul>

<h3>posts:</h3>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
  <hr>
</div>